section.first {
  background-color: $lightpurple;
}

section.second {
  background-color: $yellow;
}

section.third {
  background-color: $lightblue;
}

section h1 {
  font-family: "Dancing Script";
}

section h2 {
  font-family: "Gentium Basic";
}
