<h2>Adventures in Ember</h2>
<div class="well">
  <blockquote>
    <p>Dude, suckin' at something is the first step to being sorta good at something.</p>
    <footer>Jake the Dog</footer>
  </blockquote>
</div>

<p>
  Ember is fairly large and complicated. This messy thing will serve as the lil' box where I scoop things into my bucket with my little blue, plastic shovel while making
  airplane sounds.
</p>
