<h2>Konapun Experiment</h2>

<div class="well">
  In this experiment, I play around with my namesake.
  
  <div class="center">
    {{#link-to "konapun.playsets" class="btn btn-primary"}}Begin{{/link-to}}
  </div>
</div>

{{outlet}}
