<!-- Let's try one page scroll with Ember -->
<div class="main">
  <section class="first">
    <h1>Konapun Experiment</h1>
    <h4>Testing out a variety of things just for fun</h4>
  </section>
  <section class="second">
    Second section
  </section>
  <section class="third">
    Third section
  </section>
</div>
